<!DOCTYPE html>
<head>
    <title>Garage Sales NY</title>
</head>
<body>
    <h1>Garage Sales NY</h1>
    <ul>
        <li><a href="/garagesales">Garage Sales List</a></li>
        <li><a href="/garagesales/makegaragesale">Make Garage Sale</a></li>
    </ul>
</body>