<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Garage Sale</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/garagesales" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="startdate" class="col-2 col-form-label">Starts:</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" name="startdate"  id="startdate" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="enddate" class="col-2 col-form-label">Ends:</label>
                    <div class="col-10">
                        <input class="form-control" type="datetime-local" name="enddate" id="enddate" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="description" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add Images</label>
                    <input class="form-control" type="file" name="images" id="formFileMultiple" multiple>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Garage Sale</button>
                </div>
            </form>
            <a href="/garagesales">All Garage Sales</a>
        </div>
    </div>

<script>
const datepicker = document.querySelector('.datepicker');
datepicker.pickadate();
</script>